// COLORS
$primary-color: #6B7A8F;
$secondary-color: #6B7A8F;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #494d5f; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;